.header {
  border-top: 5px solid $verde;
  background: $branco;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
}

.header .container {
  align-items: center;
  @include d(s) {
    justify-content: space-between;
  }
}

.logo a{
  font-size: em(18);
  font-weight: bold;
  color: $cinza-5;
  padding: 15px 0;
  line-height: 40px;
  display: block;
}

.menu-nav {
  flex: 1 1 auto;
  @include d(s) {
    display: none;
  }
}

.menu-nav ul{
  display: flex;
  justify-content: center;
  li {
    text-align: center;
    flex: 0 0 auto;
  }
}

.menu-nav a, .menu-telefone a {
  font-size: em(14);
  color: $cinza-5;
  display: block;
  line-height: 40px;
  padding: 15px 20px;
  transition: 0.3s;
  &:hover {
    @extend .current_menu;
  }
  @include d(m) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

a.current_menu {
  background: $verde;
  color: $branco;
}

.menu-telefone {
  flex: 0 0 auto;
  @include d(s) {
    display: none;
  }
}

.menu-telefone a {
  @include flexbox;
  @include align-items(center);
}

.menu-telefone i {
  @extend a.current_menu;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  position: relative;
  &:before {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.menu-mobile {
  display: none;
  @include d(s) {
    display: block;
  }
  i {    
    font-size: 20px;
  }
}