.intro {
  height: 700px;
  position: relative;
  background: url(../images/slider-image1.jpg) no-repeat center;
  background-size: cover;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .2;
    z-index: -1;
  }

  $intro-color: $branco;

  .container {
    height: 100%;
    @include flex-direction(column);
    @include justify-content(center);
  }

  h1 {
    max-width: 400px;
    color: $intro-color;
    margin-bottom: 30px;
    @include d(s) {
      max-width: 100%;
    }
  }
  h3 {
    max-width: 50%;
    color: $intro-color;
    font-size: em(16);
    line-height: em(22);
    font-weight: 300;
    color: $cinza-1;
    opacity: .9;
    margin-bottom: 45px;
    @include d(s) {
      max-width: 100%;
    }
  }

  .btn {
    align-self: flex-start;
  }
}